@font-face {
    font-family: 'elliot-regular';
    src:  url('/font/FS-Elliot-ProRegular.otf') format('opentype'),
          url('/font/FS-Elliot-ProBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'elliot-bold';
    src:  url('/font/FS-Elliot-ProBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'elliot-light';
    src:  url('/font/FS-Elliot-ProLight.otf') format('opentype');
  }

  
  *,
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: elliot-regular;
}

/*@media screen and (min-width: 768px)*/

@media screen and (min-width: 1020px) {
    /*container para todos os elementos do header. flex porque os elementos estão todos seguidos*/
    .header-container {
        margin: 0;
        background-color: #fff;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    /*barra de navegação superior com fundo cinzento claro. flex porque os elementos estão todos seguidos*/
    .header-container .top-nav {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        background-color: #f2f2f2;
        line-height: 37px;
        font-family: elliot-light;
        font-size: 0.9em;
    }

    .header-container .top-nav .top-nav-item a {
        color: #4d4d4d;
        text-decoration: none;
    }

    .header-container .top-nav-item:nth-child(1) {
        color:#f0050a;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-top-nav-item-align: auto;
        align-self: auto;
        margin-right: 20px;
        margin-left: 35px;
    }

    .header-container .top-nav-item:nth-child(2) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-top-nav-item-align: auto;
        align-self: auto;
        margin-left: 30px;
    }

    .header-container .top-nav-item:nth-child(3) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-top-nav-item-align: auto;
        align-self: auto;
        margin-left: 45px;
    }

    .header-container .top-nav-item:nth-child(4) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-top-nav-item-align: auto;
        align-self: auto;
    }

    .header-container .top-nav-item:nth-child(5) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-top-nav-item-align: auto;
        align-self: auto;
        margin-right: 50px;
    }


    .header-container .top-nav .top-nav-item a:hover {
        color: #f0050a;
    }

    .header-container .top-nav .top-nav-item .top-icon {
        margin-left: 12px;
    }

    /*container do logo, pesquisa, telefone e newsletter*/
    .header-container .logo-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 30px 0 15px 30px;
        box-sizing: border-box;
        border-bottom: 1px solid #ededed;
    }

    .header-container .logo-container .logo-search-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: fit-content;
        height: auto;
    }

    .header-container .logo-container .logo {
        display: block;
        width: 249px;
        height: 66px;
    }

    .header-container .logo-container .search-bar {
        border-right: 1px solid #ededed;
        padding-right: 30px;
        background: #fff;
        border: 0;
        margin-left: 30px;
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        align-content: center;
    }

    .header-container .logo-container .search-bar input {
        line-height: 64px;
        border: 0;
        display: none;
        font-size: 1.5em;
    }

    .header-container .logo-container .search-bar .search-btn {
        margin-left: auto;
        background-color: transparent;
        border: 0;
        font-size: 1.7em;
        cursor: pointer;
    }

    .header-container .logo-container .search-bar .close-search {
        display: none;
        max-width: fit-content;
        border-left: 1px solid #ededed;
    }

    .header-container .logo-container .search-bar .search-btn:hover {
        color:#f0050a
    }

    .header-container .logo-container .contacto-newsletter-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: absolute;
        right: 0;
        width: 400px;
        height: 58px;
        border-left: 1px solid #ededed;
        
    }

    .header-container .logo-container .contacto-newsletter-container .telefone-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        text-align: center;
        gap: 0px;
        line-height: normal;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-container .logo-container .contacto-newsletter-container .telefone-container .tel-horario {
        font-size: 12px;
    }

    .header-container .logo-container .contacto-newsletter-container .telefone-container .tel-rede {
        font-size: 9px;
    }

    .header-container .logo-container .contacto-newsletter-container .telefone-container a {
        color: #f0050a;
        cursor: pointer;
        font-size: 1.7em;
        text-decoration: none;
        font-weight: bold;
    }    

    .header-container .logo-container .contacto-newsletter-container .socio-container {
        background-color: #f0050a;
        height: 48px;
        line-height: 48px;
        text-align: center;
    }

    .header-container .logo-container .contacto-newsletter-container .socio-btn {
        color: #fff;
        display: inline-block;
        width: 168px;
        text-decoration: none;
    }

    .header-container .container-menuDesktop {
        height: 50px;
    }

    .header-container .container-menuDesktop nav {
        
    }

    .header-container .container-menuDesktop .menu-desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        list-style-type: none;  
        font-family: elliot-bold;
        text-transform: uppercase;
        margin: 10px 12vw 15px 12vw;
    }

    .header-container .container-menuDesktop .menu-desktop li:hover {
        cursor: pointer;
        color:#f0050a;
    }
}

   /*image slider*/
   .carousel-container {        
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 500%;
    height: auto;
    position: relative;
}

.carousel-slide input {
    display: none;
  }

.slide {
    width: 20%;
    transition: 1s fade-in;
}

.slide img {
    width: 1920px;
    height: 616px;
}

.carousel-container .carousel-slide .slide .slide-img {
    width: 100%;
    height: auto;
}

.carousel-container .carousel-slide .dots-container {
    display: flex;
    flex-direction: row;
    z-index: 10;
    gap: 15px;
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 50vw;
}

.carousel-container .carousel-slide .dots-container .manual-btn {
  z-index: 10;
  height: 17px;
  width: 17px;
  background: #ddd;
  border-radius: 10px;
  transition: 1s;
  display: inline-block;
  cursor: pointer;
}

.carousel-container .carousel-slide #dot1:checked ~ .first {
    margin-left: 0;
}
.carousel-container .carousel-slide #dot2:checked ~ .first {
    margin-left: -20%;
}
.carousel-container .carousel-slide #dot3:checked ~ .first {
    margin-left: -40%;
}
.carousel-container .carousel-slide #dot4:checked ~ .first {
    margin-left: -60%;
}
.carousel-container .carousel-slide #dot5:checked ~ .first {
    margin-left: -80%;
}

    